nav.custom {
  background-color: #4D321E;
}

#header {
  background-color: #4D321E
}

#sidebar ul li.visited>a .read-icon {
  color: #4D321E
}

h2 {
  border-bottom: 2px solid #4D321E;
}

h3 {
  border-bottom: 2px solid #A87A4E;
}

h4,
h5,
h6 {
  color: #333;
  border-bottom: .5px solid #A87A4E;
}

mark {
  background: #FFFF27;
  color: #333
}

body {
  background: #fff;
  color: #555;
  font-size: 1.35rem;
  line-height: 1.7;
  text-align: justify;
}

a {
  color: #A87A4E
}

a:hover {
  color: #94847A
}

a.nav-next,
a.nav-prev {
  color: #A87A4E;
}

a.nav-next:hover,
a.nav-prev:hover {
  color: #94847A
}

.bg {
  background: #fff;
  border: 1px solid #eaeaea
}

code {
  background: #f9f2f4;
  color: #9c1d3d;
}

pre code {
  color: yellow;
}

#body-inner a:hover,
#body-inner a:hover code {
  color: #1d625c;
  border-bottom: 2px solid #28cdbf
}

code {
  background-color: #C8C0BA;
  color: #062938;
}

.copy-to-clipboard {
  background-color: #C8C0BA;
}

.copy-to-clipboard:hover {
  background-color: #A87A4E
}

pre code {
  color: #3a3e3d;
  background: none;
  font-size: 16.5px
}

blockquote code,
blockquote .copy-to-clipboard {
  background-color: rgba(129, 136, 142, .13)
}

blockquote p {
  color: #555;
  padding-left: .5rem
}

blockquote {
  border-left: 10px solid #e5e6e6
}


blockquote>blockquote>p,
blockquote>blockquote>blockquote>p,
blockquote>blockquote>blockquote>blockquote>p,
blockquote>blockquote>blockquote>blockquote>blockquote>p,
blockquote>blockquote>blockquote>blockquote>blockquote>blockquote>p {
  border-top: 30px solid #A87A4E;
  background: #C8C0BA
}

blockquote>blockquote>blockquote>p {
  margin-left: -71px;
  border-top: 30px solid #F0B37E;
  background: #FFF2DB
}

blockquote>blockquote>blockquote>blockquote>p {
  margin-left: -94px;
  border-top: 30px solid rgba(217, 83, 79, .8);
  background: #FAE2E2
}

blockquote>blockquote>blockquote>blockquote>p {
  border-top: 30px solid #A87A4E;
  background: #FFF2DB
}


#sidebar {
  background-color: #C8C0BA;
}

#sidebar a {
  color: #000
}

#sidebar a:hover {
  color: #4D321E
}

#sidebar a.subtitle {
  color: #7E685D
}

#sidebar hr {
  border-bottom: 1px solid #7E685D
}



#sidebar h5 i {
  color: #7E685D;
  position: absolute;
}

#sidebar h5.parent a {
  background: #7E685D;
  color: #c8c8c8 !important
}

#sidebar h5.active a {
  background: #fff;
  color: #555 !important
}

#sidebar h5.active i {
  color: #555 !important
}

#sidebar ul.topics>li.parent,
#sidebar ul.topics>li.active {
  background: #A87A4E;
}

.toc h1 {
  border-bottom: 2px solid #A87A4E
}

@media (min-width:1018px) {
  #header {
    background-color: #A87A4E !important
  }
}

#footer {
  color: #94847A;
}

.scrollbar-inner>.scroll-element .scroll-bar {
  background-color: #4D321E
}


nav.custom ul li a:hover {
  background-color: #7E685D
}